<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About Nexus</title>
    <style>
        body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
}
    .box{
        color: white;
        margin: 20px;
        background-color: purple;
        padding: 25px;
        width: 60vw;
        border-radius: 30px;
        text-align: justify;
        font-size: 25px;

    }
    
    </style>
</head>
<body>
    <div class="box">
    <h2>About Nexus AI:</h2>

Welcome to Nexus AI, a collaborative project crafted by a team of four talented individuals: Sahil, Ritik, Raushan, and Divyansh. This innovative chatbot is the result of their combined efforts for a college project.

Nexus AI is designed to provide a seamless and interactive experience. As a creation in progress, it's constantly evolving and learning. At this stage, it may occasionally provide imperfect responses, but the team is dedicated to refining and enhancing its capabilities.

We invite you to engage with Nexus AI, explore its features, and witness the ongoing journey of our team's exploration into the realms of artificial intelligence. Your feedback is invaluable as we strive to make Nexus AI even smarter and more user-friendly.

Thank you for being a part of this exciting venture!
</div>

</body>

</html>